@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  position: relative;
}

h1 {
  font-family: 'Roboto';
}


img {
  position: absolute;
  top: 5px;
  right: 400px;
}

label {
  font-weight: bolder;
}

button:hover {
  background-color: #20C5CB;
}

#gameBoard {
  background-color: #20C5CB;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: .5rem;
  margin-bottom: 1.5rem;
  max-width: 19rem;
  margin: auto; 
  
}

#gameBoard span {
  background-color: black;
  display: grid;
  place-content: center;
  font-size: 5rem;
  
}

#gameBoard span.win {
  background-color: #20C5CB;
}

.cursor-pointer {
  cursor: pointer;
}