body {
  font-family: sans-serif;
  text-align: center;
}



#gameBoard {
  background-color: #0b0700;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: .5rem;
  margin-bottom: 1.5rem;
  max-width: 19rem;
  margin: auto; 
  
}

#gameBoard span {
  background-color: white;
  display: grid;
  place-content: center;
  font-size: 5rem;
  
}

#gameBoard span.win {
  background-color: #43ec43;
}

.cursor-pointer {
  cursor: pointer;
}